* {
    box-sizing: border-box;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    gap: 2px;
}

.card{
  display: grid;
  width: 100%;
  grid-template-columns: minmax(50%, 75%) 1fr;
  grid-template-rows: 11rem;
  font-family: monospace;
  margin: 5px;
  padding: 5px;
  gap: 3px;
}
.dataRow{
  display: grid;
  grid-template-rows: 75% 1fr;
  background-color: #f9f9f9;
  padding: 0.4em;
}
.watchNow{
  background-color: #f9f9f9;
  display:grid;
  place-items: center;  
  text-align: center;     
}
.actionWatch{
  font-family: 'NaziTypewriterRegular';
}
.title{
    font-family: 'NaziTypewriterRegular';
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'DatalegreyaThin';
    font-weight: normal;
    font-style: normal;
}